h1 {
  text-align:center;
  color:blue;
  margin: 0% 5%;
  border-bottom-color: #FF8080;
  border-bottom-style: solid;
  border-bottom-width: 8px;
}
h2 {
  color:green;
  margin: 1em 0em 0em 0em;
  border-bottom-color: #FFE0E0;
  border-bottom-style: solid;
  border-bottom-width: 1;
}
h3 {
  color:#006050;
  margin: 1em 0.2em
}
pre { 
 border-style: solid;
 border-color: gray;
 padding: 1em;
 margin-left: 4em;
 margin-right: 4em;
 background-color:#F0F0FF;
}
dt { color: #303070; margin: 0em 1em }
dd { font-size: small; margin: 0em 2em }

p { margin: 1em 1em }