{
	FilesToRename = {
		"CocoaApp_Prefix.pch" = "ÇPROJECTNAMEÈ_Prefix.pch";
		"AppDelegate.rb" = "ÇPROJECTNAMEÈAppDelegate.rb";
		"CocoaApp.xcdatamodel" = "ÇPROJECTNAMEÈ_DataModel.xcdatamodel";
	};
	FilesToMacroExpand = (
		"ÇPROJECTNAMEÈ_Prefix.pch",
		"ÇPROJECTNAMEÈAppDelegate.rb",
		"Info.plist",
		"English.lproj/InfoPlist.strings",
		"main.m",
	);
	Description = "This project builds a Core Data application written in Ruby.";
}
