<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.ruby-script</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>MyClass</string>
	<key>Description</key>
	<string>A Ruby Cocoa class.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MacOSXVersionMin</key>
	<string>10.7</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.rb</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>NSObject</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Identifier</key>
			<string>cocoaSubclass</string>
			<key>Name</key>
			<string>Subclass of</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>combo</string>
			<key>Values</key>
			<array>
				<string>NSObject</string>
				<string>NSDocument</string>
				<string>NSView</string>
				<string>NSViewController</string>
				<string>NSWindowController</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<!--
	<key>SortOrder</key>
	<integer>101</integer>
	-->
	<key>Summary</key>
	<string>A Ruby Cocoa class</string>
</dict>
</plist>
