#
# $Id$
#

require 'osx/cocoa'

######################
#### BEGIN CONFIG ####
######################
BUNDLE_NAME = :MainMenu


# [ name, objc_super_class_name="RBProxy" ]

NIB_RELATED_CLASSES = [
  # [ :FooController ],
  # [ :BarController, :NSView ],
]
######################
##### END CONFIG #####
######################

def rb_main_init
  NIB_RELATED_CLASSES.each do |*names|
    require names[0].to_s
    OSX.create_objc_stub *names
  end
end

def ns_app_main
  app = OSX::NSApplication.sharedApplication
  OSX::NSBundle.loadNibNamed_owner (BUNDLE_NAME.to_s, app)
  OSX.NSApp.run
end

if $0 == __FILE__ then
  rb_main_init
  ns_app_main
end
