* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Lucida Grande', sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #c61a1a;
}

a:visited {
  color: #f90;
}

a:hover {
  color: #f90;
  text-decoration: underline;
}

#header {
  padding: 8px;
  color: white;
  background-color: #c61a1a;
}

#header a:link,
#header a:visited {
  color: white;
  text-decoration: underline;
}

#wrapper {
  padding: 20px;
  width: 980px;
}

#main {
  float: left;
  width: 700px;
}


#main p {
  margin: 20px 0;
}

#main ul, #main ol {
  margin: 20px;
}

#main h1 {
  margin-bottom: 20px;
}

#main li {
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#main pre {
  overflow: auto;
  border: #213449 1px solid;
  font-family: Menlo, Monaco, mono-space;
  margin: 20px;
}

#sidebar {
  float: right;
  width: 200px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

#sidebar h2 {
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
}

#sidebar ul {
  list-style-type: none;
  margin: 20px 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}

#wrapper {
  position: relative;
}

#footer {
  clear: both;
  border-top: 1px solid #ccc;
  padding: 8px;
  width: 100%;
}
