<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>net.sourceforge.rubycocoa.dt.unit.rubycocoaDocumentBasedApplication</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>documentBased</string>
			<key>Name</key>
			<string>Create Document-Based Application</string>
			<key>Description</key>
			<string>Whether the application should be document-based</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___VARIABLE_classPrefix:identifier___Document.rb</string>
						<string>en.lproj/___VARIABLE_classPrefix:identifier___Document.xib</string>
						<string>en.lproj/MainMenu.xib</string>
						<string>___PACKAGENAME___-Info.plist:DocumentTypes</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>en.lproj/MainMenu.xib</key>
						<dict>
							<key>Path</key>
							<string>MainMenuDoc.xib</string>
						</dict>
						<key>___PACKAGENAME___-Info.plist:DocumentTypes</key>
						<string>&lt;key&gt;CFBundleDocumentTypes&lt;/key&gt;
&lt;array&gt;
	&lt;dict&gt;
		&lt;key&gt;CFBundleTypeExtensions&lt;/key&gt;
		&lt;array&gt;
			&lt;string&gt;___VARIABLE_documentExtension:XML___&lt;/string&gt;
		&lt;/array&gt;
		&lt;key&gt;CFBundleTypeIconFile&lt;/key&gt;
		&lt;string&gt;&lt;/string&gt;
		&lt;key&gt;CFBundleTypeName&lt;/key&gt;
		&lt;string&gt;DocumentType&lt;/string&gt;
		&lt;key&gt;CFBundleTypeOSTypes&lt;/key&gt;
		&lt;array&gt;
			&lt;string&gt;????&lt;/string&gt;
		&lt;/array&gt;
		&lt;key&gt;CFBundleTypeRole&lt;/key&gt;
		&lt;string&gt;Editor&lt;/string&gt;
		&lt;key&gt;NSDocumentClass&lt;/key&gt;
		&lt;string&gt;___VARIABLE_classPrefix:identifier___Document&lt;/string&gt;
	&lt;/dict&gt;
&lt;/array&gt;
</string>
						<key>___VARIABLE_classPrefix:identifier___Document.rb</key>
						<dict>
							<key>Path</key>
							<string>Document.rb</string>
						</dict>
						<key>en.lproj/___VARIABLE_classPrefix:identifier___Document.xib</key>
						<dict>
							<key>Path</key>
							<string>Document.xib</string>
						</dict>
					</dict>
				</dict>
				<key>false</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___VARIABLE_classPrefix:identifier___AppDelegate.rb</string>
						<string>en.lproj/MainMenu.xib</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>___VARIABLE_classPrefix:identifier___AppDelegate.rb</key>
						<dict>
							<key>Path</key>
							<string>AppDelegate.rb</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>documentBased</key>
				<string>true</string>
			</dict>
			<key>Identifier</key>
			<string>documentExtension</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Document Extension</string>
			<key>Description</key>
			<string>The extension for your document type</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>mydoc</string>
		</dict>
	</array>
</dict>
</plist>
